@import 'root.scss';
@import 'vars.scss';
@import 'mixins.scss';


//MAIN

body {
    background-color: $colorFondo;
    color: $colorPrimario;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

//Seccion de busqueda

.sectionSearch {
    background-color: lighten($colorFondo, 20);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    @include bordes();
    .inputSearch {
        @include bordes();
        font-size: 18px;
        background-color: lighten($colorFondo, 5);
        color: $colorPrimario;
    }
    .searchButton {
        @include bordes();
        background-color: $colorPrimario;
            &:hover {background-color: darken($colorPrimario, 5)}
            &:active {background-color: $colorSecundario;}
    }
    .showAllButton {
        font-weight: 600;
        @extend .searchButton;
        background-color: darken($colorPrimario, 10);
        &:hover {background-color: darken($colorPrimario, 20);}
        &:active {background-color: $colorSecundario;}
    }
}

.sectionMovies {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 1vw;
    width: 100%;
    border: 3px solid lighten($colorSecundario, 10);
    border-radius: 8px;
}

.sectionCredits {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 650px;
    padding-top: 30px;
    gap: 1vw;
    border: 3px solid lighten($colorSecundario, 25);
    border-radius: 15px;
    background-color: lighten($colorFondo, 15);
    box-shadow: 5px 5px 15px;
    
}

.movieDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: justify;
    background-color: darken($colorSecundario, 25);
    @include bordes();
    padding: 25px;
    gap: 15px;
    &:hover {
        transition: box-shadow 1s;
        box-shadow: 0 0 15px 10px $colorPrimario;
    }
    h2 {
        font-size: 2em;
    }
    img {
        @include bordes();
        &:hover {
            transition: transform 1s;
            transform: scale(105%);
        }
    }
}

.buttonForMore {
    text-decoration: none;
    color: $colorPrimario;
    border: 2px solid $colorPrimario;
    font-weight: 600;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    &:hover {
        background-color: $colorFondo;
        box-shadow: 2px 2px 5px;
    }
    &:active {
        background-color: lighten($colorPrimario, 20);
        box-shadow: 2px 2px 5px;
        color: $colorSecundario;
    }
}

